<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">Adicionar Produto</h1>
        </div>
        <div class="container text-center mt-4 border border-primary rounded px-4 py-5">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome">
                </div>

                <div class="form-group">
                    <label for="quantidade">Quantidade:</label>
                    <input type="number" class="form-control" id="quantidade" name="quantidade">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Adicionar</button>
            </form>
        </div>
        <div class="text-center mt-5">
            <a class="btn btn-secondary" href="{% url 'lista_produtos' %}">Voltar para Lista de Produtos</a>
            <a class="btn btn-info ml-2" href="{% url 'historico_estoque' %}">Histórico de Estoque</a>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>